<!-- _CustomerDetails.cshtml -->
@model Lab05.ViewModel.CustomerDetailsViewModel

<p>Mã khách hàng: @Model.MaKH</p>
<p>Tên khách hàng: @Model.TenKH</p>
<p>Địa chỉ: @Model.DiaChi</p>
<p>Số điện thoại: @Model.Sdt</p>
<p>Mã hóa đơn: @Model.MaHD</p>
<p>Ngày lập hóa đơn: @Model.NgayHD.ToString("dd/MM/yyyy")</p>
